$system-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
$system-serif: "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times,
    "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$line-height: 26px;
$blockquote-border: 2px;
$border-color: hsla(0, 0%, 65%, 1);

body {
    // background: linear-gradient(to bottom, rgba(32, 160, 255, 0.35) 1px, transparent 1px);
    // background-size: 100% 26px;
    display: flex;
    flex-direction: row;
    font-family: $system-serif;
    line-height: $line-height;
    padding: 0;
    margin: 0;

    &.handouts {
        flex-direction: column;
        padding: 2rem;

        .handout {
            margin: 1rem;

            &:hover button {
                display: initial;
            }
        }

        button {
            display: none;
        }
    }
}

nav,
main {
    padding: $line-height 3rem;
}

p {
    margin: 0;
    text-indent: 1rem;
}

blockquote > p:first-of-type,
hr + p,
h1 + p,
h2 + p,
h3 + p,
h4 + p,
.toc + p {
    text-indent: 0;
}

.toc {
    margin-bottom: $line-height;

    ul {
        list-style-type: none;
        padding-left: 1rem;
    }

    & > ul {
        padding: 0;
    }
}

h1 {
    font-size: 32px;
    margin-bottom: 31px;
    margin-top: 2px;
}

h2 {
    border-bottom: 1px solid black;
    font-size: 24px;
    font-variant: small-caps;
    margin-bottom: 27px;
    margin-top: 24px;
}

h3 {
    font-size: 18.7px;
    margin-bottom: 0.5px;
    margin-top: calc(#{$line-height} - 0.5px);
}

h4 {
    font-size: 16px;
    font-variant: small-caps;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: $line-height;
}

nav {
    padding-top: 7px;
    width: 10rem;

    a {
        display: block;
    }
}

a {
    color: hsla(240, 70%, 50%, 1);
}

main {
    max-width: 45rem;
    padding-bottom: 10rem;
}

blockquote {
    background: hsla(0, 0%, 98%, 1);
    border: $blockquote-border solid $border-color;
    margin: 0;
    margin-bottom: $line-height - $blockquote-border / 2;
    margin-top: $line-height - $blockquote-border / 2;
    padding: $line-height - $blockquote-border / 2;
}

img {
    display: block;
    height: 493px;
    margin: $line-height auto $line-height auto;

    &[alt="xs"] {
        height: 104px;
    }

    &[alt="s"] {
        height: 287px;
    }
}

.hidden {
    display: none;
}

.tagselector {
    display: flex;
    height: 2 * $line-height;
    margin-left: $line-height;
    margin-top: $line-height;

    span {
        cursor: pointer;
        display: inline-block;
        height: $line-height;
        padding: 0.5rem 1rem;
        width: 3rem;

        &.active {
            border-bottom: 4px solid hsla(0, 0, 60%, 1);
        }
    }
}

hr {
    background: black;
    background-image: linear-gradient(to right, white, black 20%, black 80%, white 100%);
    border: 0;
    height: 1px;
    margin: 33px 0 44px;

    &::after {
        background: white;
        content: "\02736";
        display: inline-block;
        font-size: 18px;
        left: 49%;
        padding: 0 0.5em;
        position: relative;
        top: -12px;
    }
}

.end {
    font-size: 16px;
    padding-top: 40px;
    text-align: center;

    span {
        font-size: 24px;
        padding: 5px;
        position: relative;
        top: 3px;
    }
}

.handout {
    border: 1px solid $border-color;
    padding: 1rem;
    position: relative;

    p {
        text-indent: 0;

        &:first-of-type {
            margin-bottom: $line-height;
        }
    }

    button {
        -webkit-appearance: none;
        background: hsla(0, 0%, 98%, 1);
        border: 1px solid $border-color;
        border-radius: 5px;
        font-family: $system-sans;
        padding: 0.5rem;
        position: absolute;
        right: 10px;
        top: 10px;
    }
}

.print {
    -webkit-appearance: none;
    background: hsla(0, 0%, 98%, 1);
    border: 1px solid $border-color;
    border-radius: 5px;
    font-family: $system-sans;
    padding: 0.5rem;
    position: absolute;
    right: 50px;
    top: 20px;
}

ul,
ol {
    margin: 0;
    padding-left: 1.2rem;
}

table {
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
    margin-bottom: $line-height;
    margin-top: $line-height;
}

thead,
tr {
    height: $line-height;
}

th,
td {
    padding: 0;
}

.subdir {
    padding-left: 1rem;
}
