<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>
    <nav>
        {% for name, children in pages.items() recursive %}
        {% if children == None %}
        <a href="/{{name}}">{{name}}</a>
        {% else %}
        <span class="directory">{{name}}</span>
        <div class="subdir">
            {{ loop(children.items()) }}
        </div>
        {% endif %}
        {% endfor %}
    </nav>

    <main>
        {{content|safe}}
    </main>

</body>

</html>
