<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/app.js"></script>
</head>

<body>
    <aside>
        <div class="tagselector">
            <span class="tags">Tags</span>
            <span class="pages active">Pages</span>
        </div>
        <nav class="taglist hidden">
            {% for tag in tags %}
            <a href="/tag/{{tag}}">{{tag}}</a>
            {% endfor %}
        </nav>
        <nav class="pagelist">
            {% for page in pages %}
            <a href="/{{page}}">{{page}}</a>
            {% endfor %}
        </nav>
    </aside>
    <main>
        {{content|safe}}
        <p class="end">&sext; <span>&sext;</span> &sext;</p>
    </main>

</body>

</html>
