<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{root}}main.css">
</head>

<body>
    <aside>
        <nav class="pagelist">
            {% for name, children in pages.items() recursive %}
            {% if children == None %}
            <a href="{{root}}{{name}}.html">{{name.rsplit('/')[-1]}}</a>
            {% else %}
            <div class="directory">{{name}}</div>
            <div class="subdir">
                {{ loop(children.items()) }}
            </div>
            {% endif %}
            {% endfor %}
        </nav>
    </aside>
    <main>
        {{content|safe}}
        <p class="end">&sext; <span>&sext;</span> &sext;</p>
    </main>
</body>

</html>
