<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/main.css">
</head>

<body>
    <nav>
        {% for page in pages %}
        {% if page.children == None %}
        <a href="/{{page.name}}">{{page.name}}</a>
        {% else %}
        <span>{{page.name}}</span>
        {% endif %}
        {% endfor %}
    </nav>

    <main>
        {{content|safe}}
    </main>

</body>

</html>
